body {
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 15vh 25vh 25vh 25vh 100vh 5vh;
  background-color: white;
}

sidebar {
    grid-row: 1;
    grid-column: 1 / span 3;
}

ul {
    text-align: left;
}

#about {
    grid-column: 2;
    color: #333333;
    font-size: 18px;
    text-align: left;
    margin-left: 2vw;
    text-align: left;
    grid-row: 3;
    margin-top: 30vh;
}

#footer {
    grid-row: 7;
    grid-column: 1 / span 3;
}

@media (max-width: 535px) {
    body {
        grid-template-rows: 15vh 25vh 25vh 25vh 400vh 5vh;
    }
    #about {
        font-size: 15px;
        margin-bottom: -40vh;
    }
}

@media (max-width: 400px) {
    body {
        grid-template-rows: 15vh 25vh 25vh 25vh 550vh 5vh;
    }
}

@media (min-device-width: 300px) and (max-device-width: 400px) {
    body {
        grid-template-rows: 15vh 25vh 25vh 25vh 400vh 5vh;
    }
}

@media (min-width: 1100px) {
    body {
        grid-template-rows: 15vh 25vh 25vh 25vh 160vh 5vh;
    }
    #about {
        font-size: 18px;
        margin-bottom: 30vh;
    }
}

@media (max-width: 600px) {
   .logo {
       display: none;
   }
}