body {
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 15vh 20vh 30vh 25vh 60vh 20vh 20vh 5vh;
}

sidebar {
    grid-row: 1;
    grid-column: 1 / span 3;
}

#maintext {
    margin-top: 19vh;
}

#contact-form {
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
    margin-top: 10vh;
    color: white;
    border-radius: 5px;
    padding: 10vh;
    padding-left: 2vh;
	padding-right: 2vh;
}

label {
    padding: 1vw;
}

input[type=text], [type=email], [type=tel], textarea {
    height: 100% !important;
    width: 100%; 
    margin: -.3vh;
    padding: 1vh;
    border: 2px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
    float: right;
}

textarea {
    margin: 1vh;
    padding-bottom: 10vh;
}

#name, #surname, #email, #phone{
    width: 65%
}

input[type=submit] {
    cursor: pointer;
    margin-top: 5vh;
    background: rgba(0, 0, 0, .8);
    color: white;
    text-align: center;
    padding: 2vh 23vw;
    border-radius: 5px;
}

main {
    grid-row: 7;
    grid-column: 1 / span 3;
    margin-top: 30vh;
}

iframe {
    height: 100%;
    width: 98%;
}

#address {
    grid-row: 6;
    grid-column: 2;
    text-align: left;
    margin-left: -12vw;
    margin-right: 30vw;
    margin-top: -20vh;
}

.social {
    grid-row: 6;
    grid-column: 2;
    text-align: right;
    margin-left: 65vw;
    margin-top: -12vh;
}

#ins {
    margin-top: 2vh;
}

#footer {
    grid-row: 9;
    grid-column: 1 / span 3;
}

@media (min-width: 1000px) {
    body {
      grid-template-columns: 20vw 60vw 20vw;
      grid-template-rows: 15vh 25vh 50vh 30vh 15vh 10vh 70vh 5vh;
    }
    #address {
        text-align: center;
        margin-top: 1vh!important;
        grid-row: 7;
        grid-column: 2;
    }
    .social {
        text-align: center;
        grid-row: 6;
        grid-column: 2;
        margin-top: 0vh!important;
    }
    #fb {
        margin-right: 10vw!important;
    }
    #ins {
        margin-top: 0vh!important;
        margin-left: 10vw!important;
    }
}

@media (max-width: 1000px) {
    body {
      grid-template-columns: 20vw 60vw 20vw;
      grid-template-rows: 15vh 25vh 50vh 30vh 60vh 5vh 70vh 5vh;
    }
}

@media (min-width: 768px) {
    #address {
        margin: 0;
    }
    
    .social {
        margin: 0;
    }
}


@media (max-width: 535px) {
    body {
        grid-template-rows: 15vh 25vh 50vh 30vh 80vh 5vh;
    }
    #maintext {
        font-size: 40px;
    }
    #contact-form {
        margin-bottom: 10vh;
    }
}

@media (min-width: 535px) {
.social {
    margin-top: 3vh;
}
#ins {
    margin-top: 16vh;
}
#address {
    margin-top: -5vh;
}
}

@media screen and (max-width: 1100px) {
    .logo {
        display: none;
    }
}