body {
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 15vh 25vh 25vh 150vh 5vh;
}

sidebar {
    grid-row: 1;
    grid-column: 1 / span 3;
}

#gallery {
    grid-row: 4;
    grid-column: 1 / span 3;
    margin: 2%;
}

#footer {
    grid-row: 6;
    grid-column: 1 / span 5;
}

@media (max-width: 535px) {
    #maintext {
        font-size: 40px;
    }
    body {
      grid-template-rows: 15vh 25vh 25vh 130vh 5vh;
    }
    #gallery {
        margin-bottom: 10vh;
    }
}

@media (max-width: 600px) {
   .logo {
       display: none;
   }
}


