body {
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 15vh 25vh 25vh 140vh 5vh;
}

sidebar {
    grid-row: 1;
    grid-column: 1 / span 3;
}

#gallery {
    grid-row: 4;
    grid-column: 1 / span 3;
    margin: 2%;
}

#footer {
    grid-row: 5;
    grid-column: 1 / span 3;
}



