<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Photos"
>
  <image imageURL="images/1.JPG"
	thumbURL="images/1.JPG"
	linkURL="images/.1JPG"
	linkTarget="_blank">
	<title></title>
  </image>
  <image imageURL="images/2.JPG"
	thumbURL="images/2.JPG"
	linkURL="images/2.JPG"
	linkTarget="_blank">
	<caption></caption>
  </image>
  <image imageURL="images/3.JPG"
	thumbURL="images/3.JPG"
	linkURL="images/3.JPG"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
  </image>
  <image imageURL="images/4.JPG"
	thumbURL="images/4.JPG"
	linkURL="images/4.JPG"
	linkTarget="_blank">
	<title></title>
	<caption></caption>
  </image>
  <image imageURL="images/5.JPG"
	thumbURL="images/5.JPG"
	linkURL="images/5.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/6.JPG"
	thumbURL="images/6.JPG"
	linkURL="images/6.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/7.JPG"
	thumbURL="images/7.JPG"
	linkURL="images/7.JPG"
	linkTarget="_blank">
    <caption></caption>
  </image>
  <image imageURL="images/8.JPG"
	thumbURL="images/8.JPG"
	linkURL="images/8.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/9.JPG"
	thumbURL="images/9.JPG"
	linkURL="images/9.JPG"
	linkTarget="_blank">
    <caption></caption>
  </image>
  <image imageURL="images/10.JPG"
	thumbURL="images/10.JPG"
	linkURL="images/10.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/11.JPG"
	thumbURL="images/11.JPG"
	linkURL="images/11.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  <image imageURL="images/12.JPG"
	thumbURL="images/12.JPG"
	linkURL="images/12.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/13.JPG"
	thumbURL="images/13.JPG"
	linkURL="images/13.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/14.JPG"
	thumbURL="images/14.JPG"
	linkURL="images/14.JPG"
	linkTarget="_blank">
    <caption></caption>
  </image>
  <image imageURL="images/15.JPG"
	thumbURL="images/15.JPG"
	linkURL="images/15.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/16.JPG"
	thumbURL="images/16.JPG"
	linkURL="images/16.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/17.JPG"
	thumbURL="images/17.JPG"
	linkURL="images/17.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/18.JPG"
	thumbURL="images/18.JPG"
	linkURL="images/18.JPG"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
</juiceboxgallery>